:root {
    --primary-color: rgb(255, 255, 255); /* Color de letra */
    --secondary-color: rgb(88, 85, 255); /* Color de fondo */
    --accent-color: rgb(0, 0, 0); /* Color de letra para enlaces */
}

body {
    font-size: 16px;
    
    font-family: 'Open Sans', sans-serif; 
    
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--primary-color);
}

img, iframe {
    max-width: 100%;
}

table {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.font-bold {
    font-weight: bold;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-4 {
    margin: 1rem;
}
